[submodule "zsh/powerlevel9k"]
	path = zsh/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "shell-scripts/Color-Scripts"]
	path = shell-scripts/Color-Scripts
	url = https://github.com/stark/Color-Scripts.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
