[submodule "hue/huesh"]
	path = hue/huesh
	url = https://github.com/niklasberglund/huesh.git
	ignore = dirty
[submodule "firefox/firefoxhax"]
	path = firefox/firefoxhax
	url = https://github.com/jcklpe/firefoxhax.git
[submodule "user-styles"]
	path = user-styles
	url = https://github.com/jcklpe/user-styles.git
