//- SCSS INJECTED VSCODE THEME

//- Comments
span.mtk3 {
  font-family: "Gidole";
  // font-family: "Levi ReBrushed", "LeviReBrushed";
  margin-left: 2px;
  font-size: 1.2em;

  // just the highlighted text
  //NOTE: I think ced classes are created by the regex extension as a namespace thing
  &.ced-1-TextEditorDecorationType34-1 {
    font-family: "Gidole";
    font-size: 1.5em;
  }

  //- Comments for monospaced areas
  &.ced-1-TextEditorDecorationType52-1,
  &.ced-1-TextEditorDecorationType53-1,
  &.ced-1-TextEditorDecorationType54-1,
  &.ced-1-TextEditorDecorationType43-1,
  &.ced-1-TextEditorDecorationType44-1,
  &.ced-1-TextEditorDecorationType45-1,
  &.ced-1-TextEditorDecorationType25-1,
  &.ced-1-TextEditorDecorationType23-1,
  &.ced-1-TextEditorDecorationType24-1,
  &.ced-1-TextEditorDecorationType26-1,
  &.ced-1-TextEditorDecorationType37-1,
  &.ced-1-TextEditorDecorationType38-1,
  &.ced-1-TextEditorDecorationType36-1,
   {
    margin-left: 1px;
    font-family: "FuraCode Nerd Font Mono";
    font-size: 1em;
  }
}

// fdsdfd




//- Property names for javascript webpack and class names
.mtk10 {
  margin-left: 1px;
  font-size: 1em;
  color: #ff677b;
}

//- Class names and css property values
.mtk4 {
  font-size: 1em !important;
}


//-Tag Config Variables
$tag-margin: 0px 0px 0 0px;
$tag-o-padding: 0px 5px 0 0px;
$tag-c-padding: 0px 0px 0px 5px;

//- PHP tags
.mtk13 {
  font-size: 1.2em;

  //opening tag
  &.ced-1-TextEditorDecorationType47-1 {
    padding: $tag-o-padding;
    margin: $tag-margin;
  }

  //closing tag
  &.ced-1-TextEditorDecorationType51-1 {
    padding: $tag-c-padding;
    margin: $tag-margin;

    &+.mtk13 {
      color: rgb(144, 117, 172) !important;
    }
  }
}

//- HTML tags

span.mtk1 {

  font-family: "Input Sans";
  font-size: 1.2em;

  // opening tag
  &.ced-1-TextEditorDecorationType39-1,
  &.ced-1-TextEditorDecorationType42-1,
  &.ced-1-TextEditorDecorationType41-1 {
    padding: $tag-o-padding;
    margin: $tag-margin;
    border: none;
  }

  // closing tag
  &.ced-1-TextEditorDecorationType49-1 {
    padding: $tag-c-padding;
  }
}